.ppap{
    margin: 0 auto;
    background: url("../images/uni_of_leeds.jpg") no-repeat center center fixed;
    background-size: cover;
    
    text-align: center;
    height: 500px;
    width : 100%;
}

.ppap h2{
    
    text-shadow: 5px 5px black;
    font-size: 50px;
    color : white;
    margin: 0 auto;
    padding-top: 100px;
}